---
---

@import "{{ site.theme }}";

/****** Custom CSS ******/

/** Code formatting */
pre, code { font-size: 12px; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(1200px - (30px * 2)); max-width: calc(1200px - (30px * 2)); }
@media screen and (max-width: 1200px) { .wrapper { max-width: -webkit-calc(1200px - (30px)); max-width: calc(1200px - (30px)); } }